@charset "utf-8";
/* General Definitions*/

.wrapper {
	max-width:100%;	
}

.DaysContainer ul li div {
	display:inline-block;
	  padding: 0 10px 0 0; /*1vw*/
	    min-width: 40px; /*3vw*/
    text-align: center;	
}


.DaysContainer ul {
	list-style-type:none;
	padding:0;
}

.DateLi {
	min-width: 100px !important;	/*7vw*/
	text-align: left !important;
}

.UserContainer {
  display:inline-block;	
  padding:1vw;
}