@charset "utf-8";
/* General Definitions*/

.TableRow {
  display: table-cell;
  padding: 5px 5px;
  max-width: 200px;
  min-width: 100px;
  overflow-wrap: break-word;
  text-align:center;
}

.TableCol {
  display: table-row;
  cursor:pointer;
}

.TableCol:hover {
	background-color:rgba(74,149,176,0.64);
}

.wrapper {
	max-width:100%;	
}

.PitchTable {
	  width: 100%;

	
}

.HeaderRow {
	font-weight:600;
	border-bottom:solid #000000 1px;
	
}


@media (min-width: 1600px) {
	.PitchTable {
	  width: 100%;
      max-width: 65vw;
      margin: 0 auto;
	
}
	
}