@charset "utf-8";
/* General Definitions*/

.TableRow {
  display: inline-block;
  padding: 0.6vw;
  width: 6.5vw;
  /* min-width: 2vw; */
  /* overflow-wrap: break-word; */
  text-align: center;
}

.TableCol {
  display: inline-block;
  cursor: pointer;
}

.TableCol:hover {
	background-color:rgba(74,149,176,0.64);
}

.wrapper {
	max-width:100%;	
}

.PitchTable {
	  width: 100%;

	
}

.HeaderRow {
	font-weight:600;
	border-bottom:solid #000000 1px;
	
}

/*
@media (min-width: 1600px) {
	.PitchTable {
	  width: 100%;
      max-width: 65vw;
      margin: 0 auto;
	
}
	
}

*/
#MenuIconContainer {
  position: absolute;
  top: 1vw;
  right: 10vw;
}

.SelectClass {
  max-width: 16vw;
}

#loadingtext {
  position: absolute;
  margin: 7vw 40%;
  padding: 2vw;
  background-color: rgba(0, 0, 0, 0.87);
  color: white;
  font-size: 2vw;
  font-weight: 500;
  font-family: sans-serif;
}

.SelectLabel{
  display: inline-block;
  width: 16vw;
  margin: 0 0 0.5vw;
  text-align: center;
}

#MotivationalText{
  display: inline-block;
  margin-left: 8vw;
  
}